@import "node_modules/ol/ol.css";

html,
body {
	margin: 0;
	height: 100%;
	background-color: rgb(255, 255, 255)
}
#map {
	/* position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; */
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
	display: flex;
	padding: 30px;
	background-color: rgb(117, 88, 106);
	font-family: 'Merriweather', serif;
  position: relative;
  color: #f8f8f8;
  font-size: 40px;
  font-weight: normal;
  padding: 8px 20px 12px 20px;
  display: inline-block;
  margin: 0;
  line-height: 1,5;
}
.box {
	display: flex;
	padding: 3px;
	background-color: rgb(179, 146, 167)
}
.map_layer {
	display: flex;
	flex-grow: 1;
	background-color: rgb(233, 213, 225)
}

.map {
	display: flex;
	flex-grow: 1;
}
.layer {
	display: grid;
	position: absolute;
	padding: 12px;
	min-width: 300px;
	background-color: rgb(233, 213, 225)

}

/*КНОПКА ПОИСКА*/
* {box-sizing: border-box;}
form {
  position: absolute;
  top: 6px; left: 1150px;
  width: 350px;
  margin: 0;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid  rgb(233, 213, 225);
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #ffffff;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background:  rgb(234, 214, 225);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f6f6f6;
}
/*МЕНЮ СО СЛОЯМИ*/
header {
	display: flex;
	justify-content: flex-end;
}
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(117, 88, 106);
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
/* Меню, которое будет появляться */
.menu {
	flex-grow: 1;
    overflow-y: auto;
	position: absolute;
	top: 80;
	left:10;
	width: 30%;
	height: 83%;
	padding: 5px;
  background: rgb(233, 213, 225);
	transform: translateX(330%);
	transition: transform 0.5s;
	font-family: 'Open Sans', sans-serif;
	line-height: 15px;
}
.menu.active {
	transform: translateX(230%);
}
.menu li {
	list-style-type: none;
}
/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
	display: none;
	position: absolute
  }
  .menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg); 
  }
  /*ГОРИЗОНТАЛЬНОЕ МЕНЮ*/
  .box  ul {
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем отступы*/
	padding-left: 0; /*убираем отступы*/
	margin-top:0px; /*делаем отступ сверху*/
	background: rgb(179, 146, 167); /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
	height: 50px; /*задаем высоту*/
  }
  .box a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	background:  rgb(179, 146, 167); /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
	color:#fff; /*меняем цвет ссылок*/
	padding:0px 15px; /*добавляем отступ*/
	font-family: 'Open Sans', sans-serif; /*меняем шрифт*/
	position: relative;
	font-size: 18px;
	line-height:50px; /*ровняем меню по вертикали*/
	display: block; 
	border-right: 1px solid  rgb(179, 146, 167); /*добавляем бордюр справа*/
	-moz-animation: all 0.3s 0.01s ease; /*делаем плавный переход*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
  }
  .box  a:hover {
	background: rgb(117, 88, 106);/*добавляем эффект при наведении*/
  }
  .box li {
	float:left; /*Размещаем список горизонтально для реализации меню*/
  }

  /*tree*/
  .hide::before {
  position: fixed;
  content: '+';
  }
  .show::before {
	position: fixed;
	content: "-"
  }

/*Список слоев*/
ol {
	counter-reset: li;
	list-style: none;
	padding-left: 10px;
 }
 .list a {
	font-family: 'Roboto', sans-serif;
	display: block;
	text-decoration: none;
	padding: 5px;
	margin-bottom: 5px;
	background:  rgb(179, 146, 167);
	border-radius: 5px;
	border: 2px solid  rgb(179, 146, 167);
	color: rgb(0, 0, 0);
 }
 /* .list a:before {
	counter-increment: li;
	content: counters(li, ".") ". ";
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
 } */
 .sublist a {
	background-color: white;
 }
 .sublist2 a {
	background: rgb(233, 213, 225);
	border: 2px solid  rgb(233, 213, 225);
 }